<div class="expression-box">
    <div class="expression-actions" #banner>
        <p>{{counter}}</p>
        <button pButton (click)="addExpression()" label="Add New"></button>
        <button pButton (click)="cloneExpression()" label="Clone"></button>
        <button pButton (click)="removeExpression()" label="Remove"></button>
        <button pButton (click)="moveExpressionUp()" label="Move up"></button>
        <button pButton (click)="moveExpressionDown()" label="Move down"></button>
    </div>
    <div class="expression-edit">
        <input type="text" (ngModelChange)="onInputChange($event)" [(ngModel)]="expressionInput">
    </div>
    <div class="expression-visualization">
        <visualization [data]="data" [config]="config" [eventHandler]="expressionEventHandler"></visualization>
    </div>
</div>

<expression-operation 
    [operationState]="operationState" [selectedNode]="selectedNode" 
    (onApplied)="onOperationApplied($event)" (onCanceled)="onOperationCanceled()">
</expression-operation>