.expression_box {
    position: relative;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.expression_actions {
    display: block;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    margin-bottom: 5px;
}

.expression_actions > button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8pt;
    border-radius: 5px;
    border: 1px solid black;
}

.expression_actions > button:active {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8pt;
    border-radius: 5px;
    background-color: grey;
}

.expression_actions > p {
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 5px;
    padding-top: 1px;
    margin: 0px;
    width: 10px;
    height: 20px;
    background-color: #3badd7;
    color: white;
}

.expression_edit {
    margin-bottom: 5px;
}  

.expression_edit > input {
    display: inline-flex;
    font-family: monospace;
    font-size: 15pt;
    border: 1px solid grey;
    padding-left: 5px;
    padding-right: 5px;
    width: 99%;

}

.visualization_render {
    display: block;
    border-top: 1px dashed lightblue;
    padding: 5px;
}

.visualization_render > img {
    display: block;
    zoom: 75%;
    margin: 0 auto;
}

.expression {
    position: absolute;
    zoom: 200%;
    bottom: 5px;
    left: 5px;
}