<div class="expression_operation_box">
    <div *ngIf="operationState === 0" class="expression_operation_pending">
        <p>Select a node in the visualization to add an operation</p>
        <p>{{operationState}}</p>
    </div>
    <div *ngIf="operationState === 1" class="expression_operation_selected">

    </div>
    <div *ngIf="operationState === 2" class="expression_operation_added">
        <div class="expression_operation_edit">
            <p>Replace</p>
            <p>{{expression}}</p>
            <textarea rows="1">Insert expression here</textarea>
        </div>
    </div>
</div>