<div class="expression_box">
    <div class="expression_actions" #banner>
        <p>{{counter}}</p>
        <button (click)="addExpression()">Add New</button>
        <button (click)="cloneExpression()">Clone</button>
        <button (click)="removeExpression()">Remove</button>
        <button (click)="moveExpressionUp()">Move up</button>
        <button (click)="moveExpressionDown()">Move down</button>
    </div>
    <div class="expression_edit">
        <input type="text" (ngModelChange)="onInputChange($event)" [(ngModel)]="input">
    </div>
    <div class="visualization_render">
        <visualization [data]="data" [config]="config" [eventHandler]="eh"></visualization>
    </div>
</div>

<expression-operation 
    [operationState]="operationState" [selectedNode]="selectedNode" 
    (onApplied)="onOperationApplied($event)" (onCanceled)="onOperationCanceled()">
</expression-operation>