<div class="expression_operation_box" [ngSwitch]="operationState">
    <div *ngSwitchDefault class="expression_operation_closed">
        <img src="/assets/icon-information-white-32x32.png"/>
        <p>Select a node in the visualization to add an operation</p>
    </div>
    <div *ngSwitchCase="1" class="expression_operation_selected">
        <p>{{operationState}}</p>
    </div>
    <div *ngSwitchCase="2" class="expression_operation_added">
        <div class="expression_operation_edit">
            <p>Replace</p>
            <p>expression</p>
            <textarea rows="1">Insert expression here</textarea>
        </div>
    </div>
</div>