#sandbox_box {
    /*background-image: -webkit-linear-gradient(red, #f06d06);
    background-image: -moz-linear-gradient(red, #f06d06);
    background-image: -o-linear-gradient(red, #f06d06);
    background-image: linear-gradient(red, #f06d06);*/
}

#sandbox_header_box {
    border: 1px;
    margin-bottom: 10px;
}

#sandbox_header_title_box {
    display: flex;
    align-items: baseline;
}

#sandbox_header_title_box > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sandbox_header_description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 10px;
}

.sandbox_header_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 0;
    margin-bottom: 0;
}

.sandbox_header_problem {
    font-weight: bold;
}

.sandbox_header_guide {
    margin-top:5px;
    font-weight: bold;
}

#sandbox_header_title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20pt;
}

.sandbox_header_title_separator {
    margin-left: 10px;
    margin-right: 10px;
}

.sandbox_header_subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

#imported_expression_box {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

#imported_expression_visualization {
    display: inline-flex;
    border-left: 2px dashed lightblue;
    padding: 5px;
}

#expressions_box {
    display: block;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
}