#root_box {
    display: flex;
    flex-direction: column;
    zoom: 150%;
}
#frontpage_inputbox {
    font-family: Georgia;
    display: block;
    text-align: center;
    margin-top: 1%;
}
.expression_box {
    text-align: center;
    display: block;
    border: solid;
    border-radius: 10px;
    padding: 5px;
    
}
#dropdown_generatebtn_box {
    display:flex;
    align-items:flex-start;
    justify-content: center;
    padding-top: 3px; 
}
#expression_field {
    display: block;
    text-align: center;
    margin-left: 60px;
}
.generatebtn {
    display: inline-block;
    margin-left: 2px;
}
#dropdownmenu {
    display: inline-block;
    padding-bottom: 10px;
}
#expression_des {
    display: block;
}
#output_area {
    margin-top: 5px;
    height: 25vh;
}
.sandboxbtn_box {
    text-align: center;
    display: grid;
    border: solid;
    border-radius: 10px;
    padding: 5px;
}

