#frontpage_root_box {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
#frontpage_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 5px;
}
#frontpage_or_box {
    text-align: center;
}
#frontpage_or_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 5px 0 0 0;
}
#frontpage_inputbox {   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
    padding: 5px;

    box-shadow: 0 1px 10px 0px #555555;
    background-color: grey;
    border-radius: 10px
}
.frontpage_expression_box {
    text-align: center;
}
#frontpage_dropdown_generatebtn_box {
    display:flex;
    align-items:flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3px; 
}
#frontpage_expression_field {
    display: block;
    text-align: center;
    margin-left: 60px;
}
.frontpage_generatebtn {
    display: inline-block;
    margin-left: 2px;
}
#frontpage_dropdownmenu {
    display: inline-block;
    padding-bottom: 10px;
}
#frontpage_expression_des {
    display: block;
}
#frontpage_output_area {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25vh;

    width: 98%;
    box-sizing: border-box;
}
.frontpage_sandboxbtn {
    text-align: center;
    display: grid;
    padding: 5px;
    width: 100%;
}