/*:host /deep/ .chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

:host >>> .chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}*/

.chart-rect {
  fill: lightskyblue;
  stroke: black;
  stroke-width: 3;
}

.chart-rect-var {
  fill: lawngreen;
  stroke: black;
  stroke-width: 3;
}

.chart-text {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-anchor: middle;
  fill: black;
}

.chart-line {
  stroke: black;
  stroke-width: 2;
}