.mirror-mountain-box {
  overflow: auto;
}

.mirror-mountain-rect {
  fill: lightskyblue;
  stroke: black;
  stroke-width: 2;
  user-select: none;
  cursor: default;
}

.mirror-mountain-rect-equality {
  fill: lawngreen;
}

.mirror-mountain-text {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-anchor: middle;
  fill: black;
  user-select: none;
  cursor: default;
}

.mirror-mountain-line {
  stroke: black;
  stroke-width: 2;
}