<!DOCTYPE html>
<html>
  <head>
    <title>Visualize Expression</title>
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <app>Loading...</app>
  </body>
</html>
