#root_box {
    display: block;
    align-content: center;
    text-align: center;
    zoom: 150%;
}
#content_box {
    font-family: Georgia;
    display: inline-block;
    margin-top: 15%;
    width: 40%;
}
.expression_box {
    text-align: center;
    display: block;
    border: solid;
    border-radius: 10px;
    
}
#expression_field {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
}
.generatebtn {
    display: block;
    margin-left: 70%;
}
#dropdown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}
#sandbox_div {
    text-align: center;
    display: block;
    margin-top: 2px;
    border: solid;
    border-radius: 10px;
}
#sandbox_des {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sandboxbtn {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#animation_box {
    float: right;
    margin-top: 15%;
}
.visualization_ani {
    display: block;
}
.problem_solving_ani {
    display: block;
    margin-top: 10%;
}
.sandbox_ani {
    display: block;
    margin-top: 10%;
}
